.container10 {
  height: 133px;
  width: 125px;
}

.num10 {
  float: left;
  height: 39px;
  width: 39px;
}

.num10pic {
  height: 100%;
  width: 100%;
}

.border10{
  border-top: solid;
  border-width: 1px;
  border-color: white;
  width: 35.5%;
  height: 270px;
}

.container9 {
  height: 133px;
  width: 125px;
}

.num9 {
  float: left;
  height: 39px;
  width: 39px;
}

.num9pic {
  height: 100%;
  width: 100%;
}

.border9 {
  border-top: solid;
  border-width: 1px;
  border-color: white;
  width: 35.5%;
}

.pic9 {
  height: 150px;
  width: 150px;
}

.img9 {
  height: 185px
}

.container8 {
  height: 133px;
  width: 125px;
}

.num8 {
  float: left;
  height: 39px;
  width: 39px;
}

.num8pic {
  height: 100%;
  width: 100%;
}

.border8 {
  border-top: solid;
  border-width: 1px;
  border-color: white;
  width: 35.5%;
  margin-top: 110px;
}

.pic8 {
  height: 150px;
  width: 150px;
}

.img8 {
  height: 185px
}
.container7 {
  height: 133px;
  width: 125px;
}

.num7 {
  float: left;
  height: 39px;
  width: 39px;
}

.num7pic {
  height: 100%;
  width: 100%;
}

.border7 {
  border-top: solid;
  border-width: 1px;
  border-color: white;
  width: 35.5%;
  margin-top: 110px;
}

.pic7 {
  height: 150px;
  width: 150px;
}

.img7 {
  height: 185px
}

.container6 {
  height: 133px;
  width: 125px;
}

.num6 {
  float: left;
  height: 39px;
  width: 39px;
}

.num6pic {
  height: 100%;
  width: 100%;
}

.border6 {
  border-top: solid;
  border-width: 1px;
  border-color: white;
  width: 35.5%;
  margin-top: 110px;
}

.pic6 {
  height: 150px;
  width: 150px;
}

.img6 {
  height: 185px
}

.container5 {
  height: 133px;
  width: 125px;
}

.num5 {
  float: left;
  height: 39px;
  width: 39px;
}

.num5pic {
  height: 100%;
  width: 100%;
}

.border5 {
  border-top: solid;
  border-width: 1px;
  border-color: white;
  width: 35.5%;
  margin-top: 110px;
}

.pic5 {
  height: 150px;
  width: 150px;
}

.img5 {
  height: 185px
}

.container4 {
  height: 133px;
  width: 125px;
}

.num4 {
  float: left;
  height: 39px;
  width: 39px;
}

.num4pic {
  height: 100%;
  width: 100%;
}

.border4 {
  border-top: solid;
  border-width: 1px;
  border-color: white;
  width: 35.5%;
  margin-top: 110px;
}

.pic4 {
  height: 150px;
  width: 150px;
}

.img4 {
  height: 185px
}

.container3 {
  height: 133px;
  width: 125px;
}

.num3 {
  float: left;
  height: 39px;
  width: 39px;
}

.num3pic {
  height: 100%;
  width: 100%;
}

.border3 {
  border-top: solid;
  border-width: 1px;
  border-color: white;
  width: 35.5%;
  margin-top: 110px;
}

.pic3 {
  height: 150px;
  width: 150px;
}

.img3 {
  height: 185px
}

.container2 {
  height: 133px;
  width: 125px;
}

.num2 {
  float: left;
  height: 39px;
  width: 39px;
}

.num2pic {
  height: 100%;
  width: 100%;
}

.border2 {
  border-top: solid;
  border-width: 1px;
  border-color: white;
  width: 35.5%;
  margin-top: 110px;
}

.pic2 {
  height: 150px;
  width: 150px;
}

.img2 {
  height: 185px
}

.container1 {
  height: 133px;
  width: 125px;
}

.num1 {
  float: left;
  height: 39px;
  width: 39px;
}

.num1pic {
  height: 100%;
  width: 100%;
}

.border1 {
  border-top: solid;
  border-width: 1px;
  border-color: white;
  width: 35.5%;
  margin-top: 110px;
}

.pic1 {
  height: 150px;
  width: 150px;
}

.img1 {
  height: 185px
}

body {
  background-image: url(http://www.revistacodigo.com/wp-content/uploads/2014/07/12_od_32.jpg);
  background-size: cover;
}

h6 {
  color: white;
//  font-size: 14px;
}

h3 {
  color: white;
}
