.container10 {
  height: 133px;
  width: 125px;
}

.num10 {
  float: left;
  height: 39px;
  width: 39px;
}

.num10pic {
  height: 100%;
  width: 100%;
}

.border{
  border-top: solid;
  border-width: 1px;
  width: 35.5%;
}
