.container10 {
  height: 133px;
  width: 125px;
}

.num10 {
  float: left;
  height: 39px;
  width: 39px;
}

.num10pic {
  height: 100%;
  width: 100%;
}

.border10{
  border-top: solid;
  border-width: 1px;
  width: 35.5%;
  height: 270px;
}

.container9 {
  height: 133px;
  width: 125px;
}

.num9 {
  float: left;
  height: 39px;
  width: 39px;
}

.num9pic {
  height: 100%;
  width: 100%;
}

.border9 {
  border-top: solid;
  border-width: 1px;
  width: 35.5%;
}

.pic9 {
  height: 150px;
  width: 150px;
}

.img9 {
  height: 185px
}
