.game_flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

// .ppt {
//   height: 150px;
//   width: 150px;
// }

.eastern_red_cedar {
  height: 150px;
  width: 150px;
}

.black_cherry {
  height: 150px;
  width: 150px;
}

.bct {
  height: 50%;
  width: 50%;
}

.bcl {
  height: 50%;
  width: 50%;
  float: left;
}

.bcb {
  height: 50%;
  width: 50%;
}

.grey_birch {
  height: 150px;
  width: 150px;
}

.gbt {
  height: 50%;
  width: 50%;
}

.gbl {
  height: 50%;
  width: 50%;
  float: left;
}

.gbb {
  height: 50%;
  width: 50%;
}

.green_ash {
  height: 150px;
  width: 150px;
}

.gat {
  height: 50%;
  width: 50%;
}

.gal {
  height: 50%;
  width: 50%;
  float: left;
}

.gab {
  height: 50%;
  width: 50%;
}

.white_oak {
  height: 150px;
  width: 150px;
}
.wot {
  height: 50%;
  width: 50%;
}
.wol {
  height: 50%;
  width: 50%;
  float: left;
}

.wob {
  height: 50%;
  width: 50%;
}

.sassafras {
  height: 150px;
  width: 150px;
}
.st {
  height: 50%;
  width: 50%;
}

.sl {
  height: 50%;
  width: 50%;
  float: left;
}

.sb {
  height: 50%;
  width: 50%;
}

.american_holly {
  height: 150px;
  width: 150px;
}
.aht {
  height: 50%;
  width: 50%;
}
.ahl {
  height: 50%;
  width: 50%;
  float: left;
}

.ahb {
  height: 50%;
  width: 50%;
}

.pitch_pine {
  height: 150px;
  width: 150px;
}

.ppt {
  height: 50%;
  width: 50%;
}

.ppl {
  height: 50%;
  width: 50%;
  float: left;
}

.ercberry {
  height: 50%;
  width: 50%;
  float: left;
}

.ercfull {
  height: 50%;
  width: 50%;
}

.ppb {
  height: 50%;
  width: 50%;
}
