.game_flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  //align-content: space-between;
  height: 749px;
}

// .ppt {
//   height: 150px;
//   width: 150px;
// }

.eastern_red_cedar {
  height: 150px;
  width: 325px;
}

.ercb {
  height: 100%;
  width: 33%;
  float: right;
}

.black_cherry {
  height: 150px;
  width: 325px;
}

.bct {
  height: 100%;
  width: 33%;
}

.bcl {
  height: 100%;
  width: 33%;
  float: left;
}

.bcb {
  height: 100%;
  width: 33%;
  float: right;
}

.grey_birch {
  height: 150px;
  width: 325px;
}

.gbt {
  height: 100%;
  width: 33%;
}

.gbl {
  height: 100%;
  width: 33%;
  float: left;
}

.gbb {
  height: 100%;
  width: 33%;
  float: right;
}

.green_ash {
  height: 150px;
  width: 325px;
}

.gat {
  height: 100%;
  width: 33%;
}

.gal {
  height: 100%;
  width: 33%;
  float: left;
}

.gab {
  height: 100%;
  width: 33%;
  float: right;
}

.white_oak {
  height: 150px;
  width: 325px;
}
.wot {
  height: 100%;
  width: 33%;
}
.wol {
  height: 100%;
  width: 33%;
  float: left;
}

.wob {
  height: 100%;
  width: 33%;
  float: right;
}

.sassafras {
  height: 150px;
  width: 325px;
}
.st {
  height: 100%;
  width: 33%;
}

.sl {
  height: 100%;
  width: 33%;
  float: left;
}

.sb {
  height: 100%;
  width: 33%;
  float: right;
}

.american_holly {
  height: 150px;
  width: 325px;
}
.aht {
  height: 100%;
  width: 33%;
}
.ahl {
  height: 100%;
  width: 33%;
  float: left;
}

.ahb {
  height: 100%;
  width: 33%;
  float: right;
}

.pitch_pine {
  height: 150px;
  width: 325px;
}

.ppt {
  height: 100%;
  width: 33%;
}

.ppl {
  height: 100%;
  width: 33%;
  float: left;
}

.ercberry {
  height: 100%;
  width: 33%;
  float: left;
}

.ercfull {
  height: 100%;
  width: 33%;
}

.ppb {
  height: 100%;
  width: 33%;
  float: right;
}
