@import url('https://fonts.googleapis.com/css?family=Ewert');

.title .magazine {
  font-family: 'Ewert', cursive;
  height: 45px
}

body {
  background-image: url("https://media.giphy.com/media/daeq0E3d6sgBG/giphy.gif");
  background-size: cover;
}

.op_ed_photo {
  float: right;
  height: 100%;
  width: 100%;
  border-radius: 25%;
}

.photo_container {
  height: 250px;
  width: 250px;
  float: right;
}
