@import url('https://fonts.googleapis.com/css?family=Ewert');

.title .magazine {
  font-family: 'Ewert', cursive;
  height: 45px
}

body {
  background-color: red;
}

.op_ed_photo {
  float: right;
  height: 100%;
  width: 100%;
}

.photo_container {
  height: 250px;
  width: 250px;
  float: right;
}
