body {
  background: darkred;
}

.listicle {
  background-image: url(http://media.istockphoto.com/photos/leaf-green-font-number-picture-id104652735);
  height: 328px;
  width: 580px;
}
.landing {
  height: 350px;
  width: 580px;
}
.latest_post {
  height: 350px;
  width: 580px;
}

.sedaris {
  height: 94%;
  width: 100%;
}
.op_ed {
  height: 350px;
  width: 580px;
}
