// .comimg1 {
//   height: 100px;
//   width: 100px;
//   display: inline-block;
// }

.profile1 {
  height: 70px;
  width: 70px;
  display: inline-block;
  border-radius: 50%
}

.header1 {
  display: inline;
}

.profile2 {
  height: 70px;
  width: 70px;
  display: inline-block;
  border-radius: 50%
}

.header2 {
  display: inline;
}

body {
  background-color: darkred;
}
